
@model SearchDocuments.Entidades.UsuarioActualEL


@{
    ViewBag.Title = "Login";
    Layout = null;
}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestor Documental</title>
    <script type="text/javascript">
         var BASE_APP_URL = '@Url.Content("~")';
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/Scripts/layoutLogin")
    @System.Web.Optimization.Scripts.Render("~/bundles/Scripts/layout")
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/layout/jquery.backstretch.min.js"></script>
    <script src="~/Scripts/layout/select2.min.js"></script>
    <script src="~/Scripts/Documentos/Login/Login.js"></script>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/estilos.css" rel="stylesheet" />
</head>
<body class="login">
    <div class="logo">
        <a href="#" assets="" admin="" layout="" img="" alt="">
        </a>
    </div>
    <div class="content">
        <div id="ContenidoLogin" class="login_wrapper">

            @using (Html.BeginForm("LoginEstandar", "Login", FormMethod.Post))
            {
                @*@Html.ValidationSummary()*@
                <div class="animate form login_form">
                    <section class="login_content">
                        <form>
                            <div class="form-group">
                                <img src="~/Content/images/logo.png" />
                            </div>
                            <br />
                            <h2><i class="fa fa-archive"></i>Gestor Documentos</h2>

                            @Html.Hidden("hidCountFail", (object)ViewBag.CountFail)

                            <div class="form-group">
                                @Html.TextBoxFor(model => model.LOGIN_USUARIO, new { @class = "form-control placeholder-no-fix", Id = "htxtLoginUsuario", placeholder = "Usuario", maxlength = "20" })
                            </div>

                            <div class="form-group">

                                @Html.ValidationMessageFor(model => model.LOGIN_USUARIO)
                            </div>


                            <div class="form-group">
                                @Html.PasswordFor(model => model.LOGIN_PASSWORD, new { @class = "form-control placeholder-no-fix", Id = "htxtLoginPwd", placeholder = "Contraseña", maxlength = "30" })
                            </div>
                            <div class="form-group">

                                @Html.ValidationMessageFor(model => model.LOGIN_PASSWORD)
                            </div>

                            <div class="form-group">
                                <center>
                                    <input id="btnInicio" type="submit" value="Iniciar Sesión" class="btn btn-round btn-primary" />
                                    <br />



                                    <br /><br />
                                    <a href="@Url.Action("Recuperar","Contrasena")">
                                        ¿Olvidaste tu contraseña?
                                    </a>
                                </center>
                            </div>


                            <div class="clearfix"></div>
                            <div class="separator">
                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    <p>
                                        @{ var periodo = DateTime.Now.Year.ToString(); } @string.Format("{0}", periodo) © Todos los Derechos Reservados.
                                    </p>
                                </div>
                            </div>
                        </form>

                    </section>
                </div>


            }

        </div>

    </div>
    <div class="modal"></div>

</body>

</html>



